.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.message-item {
  clear: both;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  margin: 5px 15px;
  max-width: 25vw;
  word-wrap: normal;
}

.message-sent {
  float: right;
  background-color: #ece5dd;
}

.message-received {
  float: left;
  background-color: #dcf8c6;
}
